@media screen and (min-width: 800px) {

 body {
     background-image: url(bg-desktop.svg);
     background-color: var(--Violet);
     background-repeat: no-repeat;
     color: var(--White);
     border: 1px solid red;
 }
 

 .info {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 1.5rem;
     
 }  

/*
.sample {
    max-width: 50%;
    height: auto;
}

/*
 h1 {
     width: 50%;
 }
*/


}
