
@media screen and (min-width: 800px) {
 body {
     background-image: url(/images/bg-desktop.svg);
     background-color: var(--Violet);
     background-repeat: no-repeat;
     background-size: cover;
     color: var(--White);
 }
 
 
 .info {
     display: grid;
     grid-template-columns: 60% 40%;
     grid-gap: 15px;
 }

 
 .info h1 {
     margin: 0 10px;
     text-align: left;
     font-size: 29px;
 }
 
 
 p {
     font-size: 15px;
     text-align: left;
     margin: 0 10px;
 }
 
 
 .btn {
     margin-left: 10px;
     padding: 12px 58px;
     font-size: 14px;
     cursor: pointer;
 }
 
 
 btn:hover {
     background: var(--Magenta);
     color: var(--White);
}
 
 
.icons {
     justify-content: flex-end;
     margin: 25px;
 }


.fa:hover {
     border: 1px solid var(--Magenta);
     color: var(--Magenta);
     cursor: pointer;
}


}
